# Database Configuration
DB_NAME=pharmacy_db
DB_USER=pharmacy_user
DB_PASSWORD=your_secure_password_here
DB_HOST=localhost
DB_PORT=5432

# Django Configuration
SECRET_KEY=django-insecure-dnf!!tltw99hr6e^_$p5u^9y5323+-*5c0m5$&%zi^)k+f28v5
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
