# PostgreSQL
DB_NAME=pharmacy_db
DB_USER=pharmacylinkr
DB_PASSWORD=Prosper#$
DB_HOST=127.0.0.1
DB_PORT=5432

# Django
SECRET_KEY=replace_this_with_a_long_random_secret_key
DEBUG=False
ALLOWED_HOSTS=api.pharmalinkr.com

# CORS / CSRF
CORS_ALLOWED_ORIGINS=https://pharmalinkr.com,https://www.pharmalinkr.com,https://app.pharmalinkr.com
CORS_ALLOW_ALL_ORIGINS=False
CSRF_TRUSTED_ORIGINS=https://api.pharmalinkr.com,https://pharmalinkr.com,https://www.pharmalinkr.com,https://app.pharmalinkr.com
USE_X_FORWARDED_HOST=True

# Security
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True
X_FRAME_OPTIONS=DENY

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_google_app_password
DEFAULT_FROM_EMAIL=your_email@gmail.com

# Frontend
FRONTEND_BASE_URL=https://pharmalinkr.com

# Gunicorn
GUNICORN_BIND=127.0.0.1:8000
GUNICORN_WORKERS=3
GUNICORN_THREADS=2
GUNICORN_TIMEOUT=60
GUNICORN_GRACEFUL_TIMEOUT=30
GUNICORN_KEEPALIVE=5
GUNICORN_LOG_LEVEL=info

# MTN MoMo
MTN_MOMO_BASE_URL=https://proxy.momoapi.mtn.com
MTN_MOMO_TARGET_ENVIRONMENT=production
MTN_MOMO_COLLECTION_PRIMARY_KEY=your_collection_subscription_key
MTN_MOMO_API_USER=your_api_user
MTN_MOMO_API_KEY=your_api_key
MTN_MOMO_CALLBACK_URL=https://api.pharmalinkr.com/api/subscriptions/payment/mtn/webhook/
ALLOW_TEST_PAYMENT_AMOUNT_OVERRIDE=False

# Lanari Pay
LANARI_PAY_BASE_URL=https://www.lanari.rw/lanari_pay/api
LANARI_PAY_API_KEY=your_lanari_api_key
LANARI_PAY_API_SECRET=your_lanari_api_secret
LANARI_PAY_PROCESS_URL=https://www.lanari.rw/lanari_pay/api/payment/process.php
LANARI_PAY_STATUS_URL=https://www.lanari.rw/lanari_pay/api/payment/status.php
LANARI_PAY_BALANCE_URL=https://www.lanari.rw/lanari_pay/api/account/balance.php
LANARI_PAY_TRANSACTIONS_URL=https://www.lanari.rw/lanari_pay/api/account/transactions.php
LANARI_PAY_ADMIN_NUMBER=07XXXXXXXX
